* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
}

:root {
  --mycolor-primary: #202040;
  --mycolor-secondary: #00A8CC;
  --mycolor-white: #FFFFFF;
  --mycolor-black: #000000;
  --mycolor-grey0: #f8f8f8;
  --mycolor-grey1: #dbe1e8;
  --mycolor-grey2: #b2becd;
  --mycolor-grey2-progtxt: #b2becd;
  --mycolor-grey3: #6c7983;
  --mycolor-grey4: #454e56;
  --mycolor-grey5: #1F4287;
  --mycolor-grey6: #12181b;
  --mybr-sm-2: 14px;
  --mybox-shadow-1: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.light-mode {
  --mycolor-primary: #DAEAF1;
  --mycolor-secondary: #3498db;
  --mycolor-white: #000000;
  --mycolor-black: #FFFFFF;
  --mycolor-grey0: #f8f8f8;
  --mycolor-grey1: #000000;
  --mycolor-grey2: #b2becd;
  --mycolor-grey2-progtxt: #000000;
  --mycolor-grey3: #6c7983;
  --mycolor-grey4: #454e56;
  --mycolor-grey5: #6c7983;
  --mycolor-grey6: #12181b;
}

body {
  background-color: var(--mycolor-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--mycolor-white);
  transition: all 0.4s ease-in-out;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--mycolor-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 7rem;
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--mycolor-primary);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec5 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
}
@-webkit-keyframes scaleAnim {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controls .active-btn {
  background-color: var(--mycolor-secondary) !important;
  transition: all 0.4s ease-in-out;
}
.controls .active-btn i {
  color: var(--mycolor-white) !important;
}
.controls .my-control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--mycolor-grey4);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  box-shadow: var(--mybox-shadow-1);
}
.controls .my-control i {
  font-size: 1.2rem;
  color: var(--mycolor-grey2);
  pointer-events: none;
}

.theme-btn {
  top: 5%;
  right: 3%;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: var(--mycolor-grey4);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-3px);
}
.theme-btn i {
  font-size: 1.4rem;
  color: var(--mycolor-grey2);
  pointer-events: none;
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--mycolor-secondary);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 53% 0, 83% 100%, 0% 100%);
          clip-path: polygon(0 0, 53% 0, 83% 100%, 0% 100%);
}
.header-content .left-header .image {
  border-radius: var(--mybr-sm-2);
  height: 90%;
  width: 68%;
  margin-left: 4rem;
  background-color: var(--mycolor-black);
  transition: all 0.4s ease-in-out;
}
.header-content .left-header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}
.header-content .left-header .image img:hover {
  filter: grayscale(0%);
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 18rem;
}
.header-content .right-header .name {
  font-size: 3rem;
}
.header-content .right-header .name span {
  color: var(--mycolor-secondary);
}
.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.about-content .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.about-content .right-about .about-item {
  border: 1px solid var(--mycolor-grey5);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.about-content .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--mycolor-secondary);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.32);
}
.about-content .right-about .about-item .about-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.about-content .right-about .about-item .about-text .large-text {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--mycolor-secondary);
}
.about-content .right-about .about-item .about-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--mycolor-grey1);
  letter-spacing: 2px;
}
.about-content .right-about .about-item .about-text .small-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: var(--mycolor-grey5);
}
.about-content .left-about {
  padding-right: 5rem;
}
.about-content .left-about p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--mycolor-grey1);
}
.about-content .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

.about-skills {
  padding-bottom: 4rem;
}
.about-skills .progress-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.about-skills .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--mycolor-grey5);
  padding-left: 1.2rem;
}
.about-skills .progress-bars .progress-bar .progress-title {
  text-transform: uppercase;
  font-weight: 800;
}
.about-skills .progress-bars .progress-bar .progress-container {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.about-skills .progress-bars .progress-bar .progress-container .prog-text {
  color: var(--mycolor-grey2-progtxt);
}
.about-skills .progress-bars .progress-bar .progress-container .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--mycolor-grey4);
  margin-left: 1rem;
  position: relative;
}
.about-skills .progress-bars .progress-bar .progress-container .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--mycolor-secondary);
  transition: all 0.4s ease-in-out;
}
.about-skills .progress-bars .progress-bar .progress-container .progress .html {
  width: 75%;
}
.about-skills .progress-bars .progress-bar .progress-container .progress .python {
  width: 80%;
}
.about-skills .progress-bars .progress-bar .progress-container .progress .dsa {
  width: 65%;
}
.about-skills .progress-bars .progress-bar .progress-container .progress .c {
  width: 70%;
}
.about-skills .progress-bars .progress-bar .progress-container .progress .cpp {
  width: 50%;
}

.skill-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}
.skill-title::before {
  content: "";
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: var(--mycolor-grey5);
  transform: translateX(-50%);
}

.timeline {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
  padding-bottom: 3rem;
}
.timeline .odd {
  border-left: 2px solid var(--mycolor-grey5);
  align-items: flex-start;
  justify-items: flex-start;
  padding-left: 2rem;
}
.timeline .odd .timeline-icon {
  position: absolute;
  left: -27px;
  top: -10px;
}
.timeline .even {
  border-right: 2px solid var(--mycolor-grey5);
  align-items: flex-end;
  justify-items: flex-end;
  padding-right: 2rem;
}
.timeline .even .timeline-icon {
  position: absolute;
  right: -27px;
  top: -10px;
}
.timeline .timeline-item {
  position: relative;
  display: grid;
  margin-bottom: 15px;
  width: 60%;
}
.timeline .timeline-item .timeline-icon {
  background-color: var(--mycolor-secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline .timeline-item .timeline-icon i {
  font-size: 1.3rem;
}
.timeline .timeline-item .timeline-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--mycolor-grey5);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #FFFFFF;
}
.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}
.timeline .timeline-item h5 span {
  color: var(--mycolor-grey2-progtxt);
  font-weight: 500;
  font-size: 1.2rem;
}
.timeline .timeline-item p {
  color: var(--mycolor-grey2-progtxt);
}

.portfolio-text {
  font-size: 1.3rem;
  padding: 2rem 0;
  text-align: center;
}
.portfolio-text a {
  color: var(--mycolor-secondary);
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.portfolios .portfolio-item {
  position: relative;
}
.portfolios .portfolio-item img {
  width: 100%;
  height: 195px;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolios .portfolio-item .hover-item {
  width: 100%;
  height: 100%;
  background-color: var(--mycolor-secondary);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}
.portfolios .portfolio-item .hover-item h3 {
  font-size: 1.5rem;
  color: var(--mycolor-white);
  margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .hover-item .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item .hover-item .icons .icon {
  background-color: var(--mycolor-primary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-item .icons .icon i {
  font-size: 1.5rem;
  color: var(--mycolor-white);
  margin: 0 1rem;
}
.portfolios .portfolio-item .hover-item .icons .icon:hover {
  background-color: var(--mycolor-white);
}
.portfolios .portfolio-item .hover-item .icons .icon:hover i {
  color: var(--mycolor-primary);
}

.portfolio-item:hover .hover-item {
  opacity: 1;
  transform: scale(1);
}

.contact-content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-top: 3rem;
}
.contact-content-container .left-contact {
  flex: 2;
}
.contact-content-container .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.contact-content-container .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-container .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-content-container .left-contact .contact-info p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-content-container .left-contact .contact-info .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-content-container .left-contact .contact-info .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.contact-content-container .left-contact .contact-icons {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  margin-left: -1rem;
}
.contact-content-container .left-contact .contact-icon {
  display: flex;
  margin-top: 2rem;
}
.contact-content-container .left-contact .contact-icon a {
  display: flex;
  align-items: center;
  color: var(--mycolor-white);
  background-color: var(--mycolor-grey5);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}
.contact-content-container .left-contact .contact-icon a:hover {
  background-color: var(--mycolor-white);
}
.contact-content-container .left-contact .contact-icon a:hover i {
  color: var(--mycolor-primary);
}
.contact-content-container .left-contact .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.contact-content-container .right-contact {
  flex: 3;
  margin-left: 6rem;
}
.contact-content-container .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-container .right-contact .input-control input, .contact-content-container .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: 1000;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--mycolor-grey4);
  width: 100%;
  color: var(--mycolor-white);
  resize: none;
}
.contact-content-container .right-contact .input-control2 {
  display: flex;
}
.contact-content-container .right-contact .input-control2 :last-child {
  margin-left: 1rem;
}
.contact-content-container .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;
}

.btn-container {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--mycolor-secondary);
  display: flex;
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  color: var(--mycolor-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
  z-index: -1;
}
.main-btn:hover {
  color: inherit;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--mycolor-secondary);
  transform: translateX(0);
}
.main-btn:hover .btn-icon {
  color: var(--mycolor-primary);
}

.main-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
.main-title h2 span {
  color: var(--mycolor-secondary);
}

@media screen and (max-width: 1080px) {
  header {
    padding: 0;
  }
  header .right-header {
    padding: 0 !important;
  }
  .theme-btn {
    width: 40px;
    height: 40px;
    top: 10px;
  }
  .header-content {
    grid-template-columns: 1fr;
    align-items: center;
    padding-bottom: 6rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .right-header {
    grid-row: 1;
    width: auto;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
  }
  .header-content .left-header .image {
    margin: 20px auto;
    width: auto;
  }
  .about-content {
    grid-template-columns: 1fr;
    padding-left: 0 !important;
    padding-right: 2rem !important;
    margin-left: 0 !important;
    margin-right: 2.5rem !important;
  }
  .about-content .right-about {
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
  }
  .about-content .left-about {
    padding-right: 0;
  }
  .about-content .left-about p {
    padding-left: 0;
  }
  .about-skills .progress-bars {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding-bottom: 3rem;
  }
  .timeline {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding-bottom: 3rem;
  }
  .portfolios {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 6rem;
  }
  .portfolios .portfolio-item {
    width: auto !important;
  }
  .contact-content-container {
    grid-template-columns: 1fr;
  }
  .contact-content-container .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
    padding-bottom: 3rem;
  }
  .contact-content-container .right-contact .input-control2 {
    flex-direction: column;
  }
  .contact-content-container .right-contact .input-control2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .section {
    padding: 2rem 2.5rem !important;
  }
  .main-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-title h2 {
    font-size: 2.5rem;
  }
  .main-title h2 span {
    font-size: 2.5rem;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 60px;
    background-color: rgba(31, 66, 135, 0.5);
  }
  .controls .my-control {
    margin: 1rem 0.3rem;
    height: 50px;
    width: 50px;
  }
}
@media screen and (max-width: 500px) {
  header {
    padding: 0;
  }
  header .right-header {
    padding: 0 !important;
  }
  .theme-btn {
    width: 40px;
    height: 40px;
    top: 10px;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .right-header {
    grid-row: 1;
    width: auto;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
  }
  .header-content .left-header .image {
    margin: 20px auto;
    width: auto;
  }
  .about-content {
    grid-template-columns: 1fr;
    padding-left: 0 !important;
    padding-right: 2rem !important;
    margin-left: 0 !important;
    margin-right: 2.5rem !important;
  }
  .about-content .right-about {
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
  }
  .about-content .left-about {
    padding-right: 0;
  }
  .about-content .left-about p {
    padding-left: 0;
  }
  .about-skills .progress-bars {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding-bottom: 3rem;
  }
  .timeline {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding-bottom: 3rem;
  }
  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .portfolios .portfolio-item {
    width: auto !important;
  }
  .contact-content-container {
    grid-template-columns: 1fr;
  }
  .contact-content-container .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
    padding-bottom: 3rem;
  }
  .contact-content-container .right-contact .input-control2 {
    flex-direction: column;
  }
  .contact-content-container .right-contact .input-control2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .section {
    padding: 2rem 2.5rem !important;
  }
  .main-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-title h2 {
    font-size: 2.5rem;
  }
  .main-title h2 span {
    font-size: 2.5rem;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 60px;
    background-color: rgba(31, 66, 135, 0.5);
  }
  .controls .my-control {
    margin: 1rem 0.3rem;
    height: 50px;
    width: 50px;
  }
}/*# sourceMappingURL=styles.css.map */